<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Bootstrap contributors">
    <meta name="author" content="adapted by Lukas Benner">
    <title>Biblio - {% block title %}{% endblock %}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">


    <!-- Bootstrap core CSS -->
    <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="static/assets/css/style.css" rel="stylesheet">
</head>
<body>

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">Biblio</a>
    <button class="navbar-toggler position-sticky d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
        </li>
        <li class="nav-item text-nowrap">
            {% if is_logged_in == 'logged_in' %}
            <a class="nav-link" href="/logout">Sign Out</a>
            {% else %}
            <a class="nav-link" href="/login">Sign In</a>
            {% endif %}
        </li>
    </ul>
</header>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        {% if request.path == '/' %}
                        <a class="nav-link active" href="/">
                            {% else %}
                            <a class="nav-link" href="/">
                                {% endif %}
                                <span data-feather="home"></span>
                                Home
                            </a>
                    </li>
                    <li class="nav-item">
                        {% if request.path == '/book' %}
                        <a class="nav-link active" href="/book">
                            {% else %}
                            <a class="nav-link" href="/book">
                                {% endif %}
                                <span data-feather="book"></span>
                                Books
                            </a>
                    </li>
                    <li class="nav-item">
                        {% if request.path == '/add_book' %}
                        <a class="nav-link active" href="/add_book">
                            {% else %}
                            <a class="nav-link" href="/add_book">
                                {% endif %}
                                <span data-feather="plus-circle"></span>
                                Add new book
                            </a>
                    </li>
                    <li class="nav-item">
                        {% if request.path == '/profile' %}
                        <a class="nav-link active" href="/profile">
                            {% else %}
                            <a class="nav-link" href="/profile">
                                {% endif %}
                                <span data-feather="user"></span>
                                Profile
                            </a>
                    </li>
                    <li class="nav-item">
                        {% if request.path == '/return_book' %}
                        <a class="nav-link active" href="/return_book">
                            {% else %}
                            <a class="nav-link" href="/return_book">
                                {% endif %}
                                <span data-feather="rewind"></span>
                                Return book
                            </a>
                    </li>
                    <li class="nav-item">
                        {% if request.path == '/list_read_books' %}
                        <a class="nav-link active" href="/list_read_books">
                            {% else %}
                            <a class="nav-link" href="/list_read_books">
                                {% endif %}
                                <span data-feather="book-open"></span>
                                Reading history
                            </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Loans</span>
                    <a class="link-secondary" aria-label="loans">
                        <span data-feather="bookmark"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        {% if request.path == '/active_loans' %}
                        <a class="nav-link active" href="/active_loans">
                            {% else %}
                            <a class="nav-link" href="/active_loans">
                                {% endif %}
                                <span data-feather="file-text"></span>
                                Active loans
                            </a>
                    </li>
                    <li class="nav-item">
                        {% if request.path == '/loan_history' %}
                        <a class="nav-link active" href="/loan_history">
                            {% else %}
                            <a class="nav-link" href="/loan_history">
                                {% endif %}
                                <span data-feather="file-text"></span>
                                Loan History
                            </a>
                    </li>
                </ul>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Manage Objects</span>
                    <a class="link-secondary" aria-label="extra">
                        <span data-feather="sliders"></span>
                    </a>
                </h6>
                 <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        {% if request.path == '/update_book' %}
                        <a class="nav-link active" href="/update_book">
                            {% else %}
                            <a class="nav-link" href="/update_book">
                                {% endif %}
                                <span data-feather="file-text"></span>
                                Update Books
                            </a>
                    </li>
                    <li class="nav-item">
                        {% if request.path == '/update_author' %}
                        <a class="nav-link active" href="/update_author">
                            {% else %}
                            <a class="nav-link" href="/update_author">
                                {% endif %}
                                <span data-feather="file-text"></span>
                                Update Authors
                            </a>
                    </li>
                    <li class="nav-item">
                        {% if request.path == '/update_address' %}
                        <a class="nav-link active" href="/update_address">
                            {% else %}
                            <a class="nav-link" href="/update_address">
                                {% endif %}
                                <span data-feather="file-text"></span>
                                Manage Addresses
                            </a>
                    </li>
                </ul>


                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Extra</span>
                    <a class="link-secondary" aria-label="extra">
                        <span data-feather="sliders"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        {% if request.path == '/about' %}
                        <a class="nav-link active" href="/about">
                            {% else %}
                            <a class="nav-link" href="/about">
                                {% endif %}
                                <span data-feather="info"></span>
                                About
                            </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h2 class="h2">{% block heading %}{% endblock %}</h2>
            </div>
            <!-- Body -->
            {% block body %}
            {% endblock %}
        </main>
    </div>
    <!--    <div>-->
    <!--        <footer class="footer">-->
    <!--            <p>© 2021 Biblio</p>-->
    <!--        </footer>-->
    <!--    </div>-->
</div>


<script src="../static/assets/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
        crossorigin="anonymous"></script>
<script src="static/assets/js/dashboard.js"></script>

</body>
</html>
