<!-- about.html-->

{% extends "includes/raw.html" %}
{% block title %}About{% endblock %}
{% block heading %}About{% endblock %}
{% block body %}
<div align="left">
    <span data-feather="users"></span>
    <p>
        Biblio is build by a group of students.
    </p>

    <span data-feather="book"></span>
    <p>
        It's made for your private book collection and library. So you can find old gems, borrow books to friends or
        take note of all your read and unread books more easily.
    </p>

    <span data-feather="code"></span>
    <p>
        It's using Python with Flask as a backend. The database is handled in form of a postgresql and is connected with
        the python backend via psycopg2.
    </p>
</div>

{% endblock %}
