<!-- about.html-->

{% extends "includes/raw.html" %}
{% block title %}Update Author{% endblock %}
{% block heading %}Update or Delete Authors{% endblock %}
{% block body %}

<div>
    <p>Add manually:</p>
    <form action="/execute_change_book_manually" method="post">
        <input type="author_id" name = "author_id" placeholder="author_id" required>
        <br><br>
        <input type="author_first_name" name="author_first_name" placeholder="author_first_name">
        <br><br>
        <input type="author_last_name" name="author_last_name" placeholder="author_last_name">
        <br><br>
        <input type="address_id" name="address_id" placeholder="address_id">


        <br><br>

        <input type="radio" id="update" name="operator" value="update" required>
        <label for="update">Update book</label><br>
        <input type="radio" id="delete" name="operator" value="delete" required>
        <label for="delete">Delete book</label>

        <input type="submit" name="execute_update_book_manually" value="Submit Change">
    </form>

</div>

{% endblock %}












