<!-- about.html-->

{% extends "includes/raw.html" %}
{% block title %}Update book{% endblock %}
{% block heading %}Update or Delete Books{% endblock %}
{% block body %}

<div>
    <p>book_id or a combination of book_isbn and book_edition can be used to identify the book</p>
    <form action="/execute_change_book_manually" method="post">
        <input type="book_id" name = "book_id" placeholder="book_id">
        <br><br>
        <input type="book_isbn" name = "book_isbn" placeholder="book_isbn">
        <br><br>
        <input type="book_edition" name = "book_edition" placeholder="book_edition">
        <br><br>
        <input type="book_language" name="book_language" placeholder="book_language">
        <br><br>
        <input type="book_genre" name="book_genre" placeholder="book_genre">
        <br><br>
        <input type="publishing_year" name="publishing_year" placeholder="publishing_year">
        <br><br>
        <input type="location_id" name="location_id" placeholder="location_id">
        <br><br>
        <input type="reco_age" name="reco_age" placeholder="reco_age">
        <br><br>

        <input type="radio" id="update" name="operator" value="update" required>
        <label for="Update">Update book</label><br>
        <input type="radio" id="delete" name="operator" value="delete" required>
        <label for="Delete">Delete book</label>
        <br>
        <br>
        <input type="submit" name="execute_update_book_manually" value="Submit Change">
    </form>

</div>

{% endblock %}












