<!-- about.html-->

{% extends "includes/raw.html" %}
{% block title %}Manage Addresses{% endblock %}
{% block heading %}Update, Add or Delete Addresses{% endblock %}
{% block body %}

<div>
    <form action="/execute_change_address_manually" method="post">
        <input type="text" name = "address_id" placeholder="Address ID">
        <br><br>
        <input type="text" name = "street" placeholder="street" required>
        <br><br>
        <input type="text" name = "housenumber" placeholder="housenumber" required>
        <br><br>
        <input type="text" name="city" placeholder="city" required>
        <br><br>
        <input type="number" name="zipcode" placeholder="zipcode" required>
        <br><br>
        <input type="text" name="country" placeholder="country" required>

        <br>
        <br>

        <input type="radio" id="add" name="operator" value="add" required>
        <label for="add">Add Address</label>
        <br>
        <input type="radio" id="update" name="operator" value="update" required>
        <label for="update">Update Address</label>
        <br>
        <input type="radio" id="delete" name="operator" value="delete" required>
        <label for="delete">Delete Address</label>
        <br>
        <br>

        <input type="submit" name="execute_update_address_manually" value="Submit">
    </form>
</div>
<br><br>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <tr>
            {% for col in column_names %}
            <th>{{col}}</th>
            {% endfor %}
        </tr>
        {% for row in row_data %}
        <tr>
            {% for col, row_ in zip(column_names, row) %}
            <td>{{row_}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}












