<!-- about.html-->

{% extends "includes/raw.html" %}
{% block title %}Profile{% endblock %}
{% block heading %}Profile{% endblock %}
{% block body %}
{% if user == 'no name' %}
<a href="/login">
    <div align="right">
        <span data-feather="user"></span>
        <h4>Admin</h4>
    </div>
</a>
{% else %}
<a href="/logout">
    <h4>You've read {{ read_books_count }} books</h4>

    <div align="right">
        <span data-feather="user"></span>
        <h4>{{user}}</h4>
    </div>
</a>
{% endif %}
    <table>
    {% for cell in user_info %}
        <tr>
            <td>{{ user_info_name[loop.index0] }}</td>
            <td>{{ user_info[loop.index0] }}</td>
        </tr>
    {% endfor %}
    </table>


{% endblock %}